/*media query*/
body, html {
    max-width: 100%;
    overflow-x: hidden;
}

.loginComponent{
    width:100vw;
    height:50vw;
}
.loginPage{
    display:flex;
    align-items:center;
    justify-content: center;
    background: #FFB30E;
}
.innerBox{
    display:flex;
    flex-direction:row;
    width:65vw;
    height:30vw;
    margin: 5% 0%;
    border-radius: 5px;
    background-color:white;
}

.loginBox{
    box-sizing: border-box;
  
    margin:5vw;
    display:flex;
    flex-direction:column;
    justify-content: center;

}

.banner{
    height:5vw;
}

#logo{
    width: 20vw;
    min-height:5vw;
}

#shef{
    width: 40%;
    height:100%;

}

.loginForm{
    display:flex;
    flex-direction: column;
}

#loginInput{
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 5px;
    min-width: 30vw;
    min-height:3vw;
}

#loginBtn{
    background:#F47249;
    margin:auto;
    width: 10vw;
    height: 3vw;
    border-style: none;
    border-radius: 5%;
}

button{
    font-size:1vw;
    background-color:transparent;
    border-style:none;
}

#welcome{
    align-self: start;
    font-size:2vw;
    margin: 0 0 1vw 0;
}

.footer{
    margin:auto;
    font-weight:bold;
}

/*gpt*/



